full=100%
half=50%
*
    -webkit-box-sizing border-box
    -moz-box-sizing border-box
    box-sizing border-box

.chart
    width 50vw
    height 50vh
    margin 25vh 25vw
    background-color lightgreen
    position relative

.chart-container
    width full
    height full

axis-thick=1em
axis-line-thick=.25em
.axis
    width full
    height full
    position absolute
    z-index 4
    
    .axis-x
    .axis-y
        position absolute
        background-color lightgray

    .axis-y
        width axis-thick
        height full

        .axis-line
            left half

            .axis-line-container
                margin 0 -0.5*axis-line-thick
                height full
                width axis-line-thick


    .axis-x
        height axis-thick
        width full
        bottom 0

        .axis-line
            top 50%

            .axis-line-container
                margin -0.5*axis-line-thick 0
                height axis-line-thick
                width full

.axis-line
    width full
    height full
    position absolute
    z-index 5
.axis-line-container
    background-color black

.scene
    position absolute
    z-index 1
    background-color green
    width full
    height full
    padding-left axis-thick
    padding-bottom axis-thick

    .scene-container
        width full
        height full
        background-color lightblue

.line-part
    background-color green
    position absolute
/*{{ console.log(it.points.length); }}*/
/*{{ for(count=0;count<it.points.length;count++){ }}*/
.part-/*{{= count+1}}*/
    /* top: {{=it.points[count][0]}};
       left: {{=it.points[count][1]}}; */
    junk ""
/*{{ } }}*/

.line-inner
    position absolute
    /*left :-{{=it.point_radius}};*/
    /*top :-{{=it.point_radius}};*/
    /*width  :{{= Number(it.point_radius.slice(0,it.point_radius.length-2))*2 +it.point_radius.slice(it.point_radius.length-2) }};*/
    /*height  :{{= Number(it.point_radius.slice(0,it.point_radius.length-2))*2 +it.point_radius.slice(it.point_radius.length-2) }};*/
    border-radius 50% 50%
    background-color green
